@{
    //Layout = "_LayoutTesting";
}


<h1 id="judul">List Star wars</h1>
<table id="myTable" class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Height</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="tbodySW">
        
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalSW" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

@*<div id="container">
    <section id="a">
        <p class="p1">paragraf 1</p>
        <a href="#">ini Link</a>
        <p class="p2">paragraf 2</p>
        <p class="p3">paragraf 3</p>
    </section>
    <section id="b">
        <p id="a">paragraf 4</p>
        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
        </ul>
    </section>
</div>*@
